15_aesc
17_aesc
AoM-ckpt
train15
train17
TRC_ckpt
**/data/IJCAI2019_data
**/data/jsons
**/data/TRC
**/data/twitter2015
**/data/twitter2017
**/resnet/resnet152-b121ed2d.pth
**/__pycache__/
**/.DS_Store
**/checkpoint
kaggle/
kaggle.zip